@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Roboto+Slab:wght@100;200&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #ff6d00;
  font-family: "Montserrat", sans-serif;
}

.boton-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.boton-wsp:hover {
  background: #20ba5a;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .boton-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}
header {
  background-color: #3d3c3b;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .h1ee {
  display: none;
}
header .navheader {
  display: flex;
  padding: 10px;
}

.navheader_logo {
  width: 50px;
}

.navheader ul a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0em 0.5em;
  padding: 5px 10px;
  transition: all 0.5s;
  text-transform: uppercase;
  color: #ff6d00;
}
.navheader ul a:hover {
  border-radius: 0.2em;
  background-color: rgba(255, 111, 0, 0.1647058824);
  border-bottom: 0.1em solid #ff6d00;
  padding: 0em 0.2em;
}

.color-iconbar {
  background-color: #ff6d00;
}

.footer {
  width: 100%;
  color: #fff;
  background-color: #3d3c3b;
  margin-top: 1em;
}

/*----COLUMNA-INSTITUCIONAL-----*/
.ul-footer-inst li {
  text-transform: uppercase;
  text-align: left;
}

.ul-footer-inst li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

/*----COLUMNA-PRODUCTO-----*/
.h2-footer {
  color: #fff;
  text-decoration: none;
}

.columna3_ol ol li {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/*----COLUMNA-REDES-FOOTER-----*/
.span-icon {
  color: #fff;
}

.icon-w {
  color: rgb(126, 227, 126);
}

.icon-f {
  color: rgb(73, 92, 212);
}

.icon-y {
  color: rgb(216, 76, 76);
}

.icon-i {
  color: #ff6d00;
}

.span-icon {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-left: 1em;
}

/*-----SEC-QUIENES SOMOS-----*/
.sec_qs {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.sec_qs .contenedor_qs {
  width: 80%;
  height: 100%;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.sec_qs .contenedor_qs:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.sec_qs .contenedor_qs .texto_qs {
  display: block;
  text-align: center;
  padding-top: 10px;
}
.sec_qs .contenedor_qs .texto_qs h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 10px;
}
.sec_qs .contenedor_qs .texto_qs p {
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.sec_qs .contenedor_qs .enlace_qs {
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 2em;
}
.sec_qs .contenedor_qs .enlace_qs a {
  color: #fff;
  text-decoration: none;
  display: inline;
  padding: 0.2em 3em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.sec_qs .contenedor_qs .enlace_qs a:hover {
  transition: all 5ms;
  color: #3d3c3b;
  border: 0.1rem solid #3d3c3b;
  background-color: #fff;
}

/*-----SEC-FUNDADORA-----*/
.sec_fun {
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
.sec_fun .contenedor_fun {
  width: 80%;
  height: 100%;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.sec_fun .contenedor_fun:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.sec_fun .contenedor_fun .texto_fun {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 30% 30%;
  align-content: center;
  text-align: center;
}
.sec_fun .contenedor_fun .texto_fun h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.sec_fun .contenedor_fun .texto_fun p {
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
}
.sec_fun .contenedor_fun .enlace_fun {
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 2em;
}
.sec_fun .contenedor_fun .enlace_fun a {
  color: #fff;
  text-decoration: none;
  display: inline;
  padding: 0.2em 3em;
  text-transform: uppercase;
  background-color: gradient(black orange);
  border-radius: 5px;
  transition: all 5ms;
}
.sec_fun .contenedor_fun .enlace_fun a:hover {
  color: #3d3c3b;
  border: 0.1rem solid #3d3c3b;
  background-color: #fff;
}

/*-----SEC-SERVICIOS-----*/
.sec_ser {
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
.sec_ser .contenedor_ser {
  width: 80%;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.sec_ser .contenedor_ser .video_ser {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}
.sec_ser .contenedor_ser .lista_ser {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 60% 15%;
  text-transform: uppercase;
  margin-top: 2em;
}
.sec_ser .contenedor_ser .lista_ser h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.sec_ser .contenedor_ser .enlace_ser {
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 2em;
}
.sec_ser .contenedor_ser .enlace_ser a {
  color: #fff;
  text-decoration: none;
  display: inline;
  padding: 0.2em 3em;
  text-transform: uppercase;
  background-color: gradient(black orange);
  border-radius: 5px;
}
.sec_ser .contenedor_ser .enlace_ser a:hover {
  transition: all 5ms;
  color: #3d3c3b;
  border: 0.1rem solid #3d3c3b;
  background-color: #fff;
}

/*------MAIN-SEC-SUSCRIBIR-----*/
.sec_suscribir {
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}

.contenedor_susc {
  width: 80%;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2em;
  margin-top: 1em;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto;
  justify-content: center;
  align-items: center;
}

.email_form {
  display: flex;
  justify-content: center;
}

.email_labelform {
  width: 20em;
  padding: 0.2em 0.5em;
  margin: 0.5em 0.2em;
  border: none;
}

.boton_suscribir {
  padding: 0.2em 0.5em;
  margin: 0.5em 0.2em;
  border: none;
  border-radius: 0.5em;
}
.boton_suscribir:hover {
  color: #fff;
  background-color: #3d3c3b;
  padding: 0.2em 0.5em;
  margin: 0.5em 0.2em;
  border: none;
}

.sec_prod {
  width: 100%;
  margin-top: 0.5em;
}

.con_secprod {
  width: 80%;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2em;
  margin: 0em auto 0em;
  text-align: center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 10%;
  justify-content: center;
  align-items: center;
}
.con_secprod:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.span_prod {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.3em;
  margin: 1em 0;
  background-color: #fff;
  border: solid 1px;
  box-shadow: 2px 2px 10px 5px black;
}

.contenedor_prod {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarprod {
  width: 300px;
  position: relative;
  z-index: 0;
  margin: 5px;
  transition: all ease 1s;
}
.tarprod:hover {
  box-shadow: 1px 1px 20px -10px black;
}
.tarprod:hover .tarprod_desc {
  margin-top: 0;
}
.tarprod_img {
  width: 100%;
  height: 220px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.tarprod_img img {
  width: 100%;
  height: 100%;
}
.tarprod_desc {
  width: 100%;
  height: 220px;
  color: #3d3c3b;
  background-color: rgba(255, 111, 0, 0.198);
  padding: 10px;
  margin-top: -220px;
}
.tarprod_desc h3 {
  font-family: "Lora", serif;
  color: #3d3c3b;
  font-size: 1.1rem;
  margin-top: 10px;
}
.tarprod_desc p {
  font-family: "Roboto Slab", serif;
  font-size: 0.7rem;
  margin-top: 10px;
}
.tarprod_desc span {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #3d3c3b;
  color: #fff;
  border: none;
}

.sec_mision {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contmision {
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.contmision:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*-----SECCION-VISION-----*/
.sec_vision {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contenedor_vision {
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.contenedor_vision:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sec_servicio-lavado {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  transition: all ease 1s;
}

.sec_servicio-lavado:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sec_servicio-corte {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  transition: all ease 1s;
}

.sec_servicio-corte:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sec_servicio-peinado {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  transition: all ease 1s;
}

.sec_servicio-peinado:hover {
  transition: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.sec_servicio-tratamientos {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  transition: all ease 1s;
}

.sec_servicio-tratamientos:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sec_servicio-color {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  transition: all ease 1s;
}

.sec_servicio-color:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sec_servicio-alizado {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  padding: 1em;
  border-radius: 10px;
  transition: all ease 1s;
}

.sec_servicio-alizado:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.formturno {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  margin: 3em auto;
  padding: 3em;
  border-radius: 15px;
  transition: all ease 1s;
}
.formturno:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.formturno_h2 {
  font-family: "Montserrat", sans-serif;
}
.formturno_form input {
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */