@mixin secc_index(){
  width: 95%;
  margin: 0.5em auto 0;
  display: flex;
  justify-content: center;
}
@mixin cont_secc-index(){
    width: 95%;
    padding: 0.5em;

    background-color: $color-fondosec;
    border-radius: 10px;
}
@mixin secc_servicios(){
    width: 95%;
    background-color: $color-fondosec;
    margin: 2em auto;
    padding: 1em;
    border-radius: 10px;
    transition: all ease 1s;
}