.sec_servicio-lavado{
  @include seccion_page;
    &:hover{
    background-color: $color-fondosech;
  }
  }
  
  .sec_servicio-corte{
    @include seccion_page;
    &:hover{
    background-color: $color-fondosech;
  }
  }
  
  .sec_servicio-peinado{
    @include seccion_page;
    &:hover{
    background-color: $color-fondosech;
    }
  }
  
  .sec_servicio-tratamientos{
    @include seccion_page;
    &:hover{
      background-color: $color-fondosech;
    }
  }
   
  .sec_servicio-color{
    @include seccion_page;
    &:hover{
      background-color: $color-fondosech;
    }
  }
  
  .sec_servicio-alizado{
    @include seccion_page;
    &:hover{
      background-color: $color-fondosech;
    }
  }

  .borde_izquierdo{
    @include borde_izquierdo;
  }

  .borde_derecho{
    @include borde_derecho;
  }