.sec_servicio-lavado{
  @include secc_servicios;
    &:hover{
    background-color: $color-fondosech;
  }
  }
  
  .sec_servicio-corte{
    @include secc_servicios;
    &:hover{
    background-color: $color-fondosech;
  }
  }
  
  .sec_servicio-peinado{
    @include secc_servicios;
    &:hover{
    background-color: $color-fondosech;
    }
  }
  
  .sec_servicio-tratamientos{
    @include secc_servicios;
    &:hover{
      background-color: $color-fondosech;
    }
  }
   
  .sec_servicio-color{
    @include secc_servicios;
    &:hover{
      background-color: $color-fondosech;
    }
  }
  
  .sec_servicio-alizado{
    @include secc_servicios;
    &:hover{
      background-color: $color-fondosech;
    }
  }