.formturno{
  width: 80%;
  background-color: $color-fondosec;
  margin-top: 40px;
  margin: 3em auto;
  padding: 3em;
  border-radius: 15px;
  transition: all ease 1s;
  &:hover{
    background-color: $color-fondosech;
  }
  &_h2{
    font-family: $font-h2;
  }
}